/* 
 * Q-SYS Foundation Icons Style Sheet
 * Created by K. Rhodus - QSC
 * Version 1.0
 * MIT License
 */

 .icon-address-book {-qsc-icon:address-book;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-alert {-qsc-icon:alert;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-align-center {-qsc-icon:align-center;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-align-justify {-qsc-icon:align-justify;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-align-left {-qsc-icon:align-left;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-align-right {-qsc-icon:align-right;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-anchor {-qsc-icon:anchor;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-annotate {-qsc-icon:annotate;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-archive {-qsc-icon:archive;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-arrow-down {-qsc-icon:arrow-down;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-arrow-left {-qsc-icon:arrow-left;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-arrow-right {-qsc-icon:arrow-right;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-arrow-up {-qsc-icon:arrow-up;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-arrows-compress {-qsc-icon:arrows-compress;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-arrows-expand {-qsc-icon:arrows-expand;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-arrows-in {-qsc-icon:arrows-in;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-arrows-out {-qsc-icon:arrows-out;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-asl {-qsc-icon:asl;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-asterisk {-qsc-icon:asterisk;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-at-sign {-qsc-icon:at-sign;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-background-color {-qsc-icon:background-color;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-battery-empty {-qsc-icon:battery-empty;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-battery-full {-qsc-icon:battery-full;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-battery-half {-qsc-icon:battery-half;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-bitcoin-circle {-qsc-icon:bitcoin-circle;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-bitcoin {-qsc-icon:bitcoin;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-blind {-qsc-icon:blind;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-bluetooth {-qsc-icon:bluetooth;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-bold {-qsc-icon:bold;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-book-bookmark {-qsc-icon:book-bookmark;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-book {-qsc-icon:book;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-bookmark {-qsc-icon:bookmark;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-braille {-qsc-icon:braille;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-burst-new {-qsc-icon:burst-new;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-burst-sale {-qsc-icon:burst-sale;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-burst {-qsc-icon:burst;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-calendar {-qsc-icon:calendar;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-camera {-qsc-icon:camera;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-check {-qsc-icon:check;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-checkbox {-qsc-icon:checkbox;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-clipboard-notes {-qsc-icon:clipboard-notes;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-clipboard-pencil {-qsc-icon:clipboard-pencil;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-clipboard {-qsc-icon:clipboard;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-clock {-qsc-icon:clock;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-closed-caption {-qsc-icon:closed-caption;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-cloud {-qsc-icon:cloud;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-comment-minus {-qsc-icon:comment-minus;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-comment-quotes {-qsc-icon:comment-quotes;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-comment-video {-qsc-icon:comment-video;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-comment {-qsc-icon:comment;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-comments {-qsc-icon:comments;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-compass {-qsc-icon:compass;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-contrast {-qsc-icon:contrast;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-credit-card {-qsc-icon:credit-card;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-crop {-qsc-icon:crop;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-crown {-qsc-icon:crown;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-css3 {-qsc-icon:css3;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-database {-qsc-icon:database;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-die-five {-qsc-icon:die-five;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-die-four {-qsc-icon:die-four;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-die-one {-qsc-icon:die-one;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-die-six {-qsc-icon:die-six;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-die-three {-qsc-icon:die-three;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-die-two {-qsc-icon:die-two;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-dislike {-qsc-icon:dislike;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-dollar-bill {-qsc-icon:dollar-bill;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-dollar {-qsc-icon:dollar;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-download {-qsc-icon:download;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-eject {-qsc-icon:eject;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-elevator {-qsc-icon:elevator;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-euro {-qsc-icon:euro;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-eye {-qsc-icon:eye;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-fast-forward {-qsc-icon:fast-forward;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-female-symbol {-qsc-icon:female-symbol;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-female {-qsc-icon:female;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-filter {-qsc-icon:filter;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-first-aid {-qsc-icon:first-aid;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-flag {-qsc-icon:flag;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-folder-add {-qsc-icon:folder-add;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-folder-lock {-qsc-icon:folder-lock;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-folder {-qsc-icon:folder;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-foot {-qsc-icon:foot;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-foundation {-qsc-icon:foundation;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-graph-bar {-qsc-icon:graph-bar;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-graph-horizontal {-qsc-icon:graph-horizontal;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-graph-pie {-qsc-icon:graph-pie;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-graph-trend {-qsc-icon:graph-trend;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-guide-dog {-qsc-icon:guide-dog;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-hearing-aid {-qsc-icon:hearing-aid;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-heart {-qsc-icon:heart;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-home {-qsc-icon:home;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-html5 {-qsc-icon:html5;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-indent-less {-qsc-icon:indent-less;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-indent-more {-qsc-icon:indent-more;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-info {-qsc-icon:info;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-italic {-qsc-icon:italic;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-key {-qsc-icon:key;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-laptop {-qsc-icon:laptop;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-layout {-qsc-icon:layout;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-lightbulb {-qsc-icon:lightbulb;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-like {-qsc-icon:like;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-link {-qsc-icon:link;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-list-bullet {-qsc-icon:list-bullet;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-list-number {-qsc-icon:list-number;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-list-thumbnails {-qsc-icon:list-thumbnails;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-list {-qsc-icon:list;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-lock {-qsc-icon:lock;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-loop {-qsc-icon:loop;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-magnifying-glass {-qsc-icon:magnifying-glass;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-mail {-qsc-icon:mail;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-male-female {-qsc-icon:male-female;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-male-symbol {-qsc-icon:male-symbol;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-male {-qsc-icon:male;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-map {-qsc-icon:map;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-marker {-qsc-icon:marker;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-megaphone {-qsc-icon:megaphone;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-microphone {-qsc-icon:microphone;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-minus-circle {-qsc-icon:minus-circle;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-minus {-qsc-icon:minus;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-mobile-signal {-qsc-icon:mobile-signal;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-mobile {-qsc-icon:mobile;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-monitor {-qsc-icon:monitor;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-mountains {-qsc-icon:mountains;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-music {-qsc-icon:music;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-next {-qsc-icon:next;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-no-dogs {-qsc-icon:no-dogs;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-no-smoking {-qsc-icon:no-smoking;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-page-add {-qsc-icon:page-add;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-page-copy {-qsc-icon:page-copy;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-page-csv {-qsc-icon:page-csv;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-page-delete {-qsc-icon:page-delete;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-page-doc {-qsc-icon:page-doc;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-page-edit {-qsc-icon:page-edit;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-page-export-csv {-qsc-icon:page-export-csv;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-page-export-doc {-qsc-icon:page-export-doc;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-page-export-pdf {-qsc-icon:page-export-pdf;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-page-export {-qsc-icon:page-export;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-page-filled {-qsc-icon:page-filled;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-page-multiple {-qsc-icon:page-multiple;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-page-pdf {-qsc-icon:page-pdf;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-page-remove {-qsc-icon:page-remove;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-page-search {-qsc-icon:page-search;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-page {-qsc-icon:page;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-paint-bucket {-qsc-icon:paint-bucket;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-paperclip {-qsc-icon:paperclip;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-pause {-qsc-icon:pause;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-paw {-qsc-icon:paw;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-paypal {-qsc-icon:paypal;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-pencil {-qsc-icon:pencil;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-photo {-qsc-icon:photo;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-play-circle {-qsc-icon:play-circle;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-play-video {-qsc-icon:play-video;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-play {-qsc-icon:play;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-plus {-qsc-icon:plus;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-pound {-qsc-icon:pound;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-power {-qsc-icon:power;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-previous {-qsc-icon:previous;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-price-tag {-qsc-icon:price-tag;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-pricetag-multiple {-qsc-icon:pricetag-multiple;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-print {-qsc-icon:print;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-prohibited {-qsc-icon:prohibited;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-projection-screen {-qsc-icon:projection-screen;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-puzzle {-qsc-icon:puzzle;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-quote {-qsc-icon:quote;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-record {-qsc-icon:record;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-refresh {-qsc-icon:refresh;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-results-demographics {-qsc-icon:results-demographics;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-results {-qsc-icon:results;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-rewind-ten {-qsc-icon:rewind-ten;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-rewind {-qsc-icon:rewind;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-rss {-qsc-icon:rss;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-safety-cone {-qsc-icon:safety-cone;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-save {-qsc-icon:save;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-share {-qsc-icon:share;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-sheriff-badge {-qsc-icon:sheriff-badge;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-shield {-qsc-icon:shield;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-shopping-bag {-qsc-icon:shopping-bag;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-shopping-cart {-qsc-icon:shopping-cart;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-shuffle {-qsc-icon:shuffle;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-skull {-qsc-icon:skull;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-social-500px {-qsc-icon:social-500px;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-social-adobe {-qsc-icon:social-adobe;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-social-amazon {-qsc-icon:social-amazon;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-social-android {-qsc-icon:social-android;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-social-apple {-qsc-icon:social-apple;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-social-behance {-qsc-icon:social-behance;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-social-bing {-qsc-icon:social-bing;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-social-blogger {-qsc-icon:social-blogger;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-social-delicious {-qsc-icon:social-delicious;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-social-designer-news {-qsc-icon:social-designer-news;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-social-deviant-art {-qsc-icon:social-deviant-art;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-social-digg {-qsc-icon:social-digg;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-social-dribbble {-qsc-icon:social-dribbble;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-social-drive {-qsc-icon:social-drive;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-social-dropbox {-qsc-icon:social-dropbox;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-social-evernote {-qsc-icon:social-evernote;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-social-facebook {-qsc-icon:social-facebook;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-social-flickr {-qsc-icon:social-flickr;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-social-forrst {-qsc-icon:social-forrst;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-social-foursquare {-qsc-icon:social-foursquare;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-social-game-center {-qsc-icon:social-game-center;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-social-github {-qsc-icon:social-github;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-social-google-plus {-qsc-icon:social-google-plus;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-social-hacker-news {-qsc-icon:social-hacker-news;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-social-hi5 {-qsc-icon:social-hi5;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-social-instagram {-qsc-icon:social-instagram;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-social-joomla {-qsc-icon:social-joomla;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-social-lastfm {-qsc-icon:social-lastfm;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-social-linkedin {-qsc-icon:social-linkedin;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-social-medium {-qsc-icon:social-medium;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-social-myspace {-qsc-icon:social-myspace;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-social-orkut {-qsc-icon:social-orkut;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-social-path {-qsc-icon:social-path;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-social-picasa {-qsc-icon:social-picasa;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-social-pinterest {-qsc-icon:social-pinterest;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-social-rdio {-qsc-icon:social-rdio;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-social-reddit {-qsc-icon:social-reddit;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-social-skillshare {-qsc-icon:social-skillshare;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-social-skype {-qsc-icon:social-skype;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-social-smashing-mag {-qsc-icon:social-smashing-mag;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-social-snapchat {-qsc-icon:social-snapchat;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-social-spotify {-qsc-icon:social-spotify;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-social-squidoo {-qsc-icon:social-squidoo;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-social-stack-overflow {-qsc-icon:social-stack-overflow;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-social-steam {-qsc-icon:social-steam;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-social-stumbleupon {-qsc-icon:social-stumbleupon;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-social-treehouse {-qsc-icon:social-treehouse;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-social-tumblr {-qsc-icon:social-tumblr;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-social-twitter {-qsc-icon:social-twitter;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-social-vimeo {-qsc-icon:social-vimeo;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-social-windows {-qsc-icon:social-windows;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-social-xbox {-qsc-icon:social-xbox;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-social-yahoo {-qsc-icon:social-yahoo;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-social-yelp {-qsc-icon:social-yelp;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-social-youtube {-qsc-icon:social-youtube;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-social-zerply {-qsc-icon:social-zerply;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-social-zurb {-qsc-icon:social-zurb;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-sound {-qsc-icon:sound;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-star {-qsc-icon:star;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-stop {-qsc-icon:stop;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-strikethrough {-qsc-icon:strikethrough;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-subscript {-qsc-icon:subscript;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-superscript {-qsc-icon:superscript;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-tablet-landscape {-qsc-icon:tablet-landscape;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-tablet-portrait {-qsc-icon:tablet-portrait;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-target-two {-qsc-icon:target-two;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-target {-qsc-icon:target;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-telephone-accessible {-qsc-icon:telephone-accessible;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-telephone {-qsc-icon:telephone;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-text-color {-qsc-icon:text-color;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-thumbnails {-qsc-icon:thumbnails;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-ticket {-qsc-icon:ticket;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-torso-business {-qsc-icon:torso-business;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-torso-female {-qsc-icon:torso-female;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-torso {-qsc-icon:torso;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-torsos-all-female {-qsc-icon:torsos-all-female;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-torsos-all {-qsc-icon:torsos-all;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-torsos-female-male {-qsc-icon:torsos-female-male;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-torsos-male-female {-qsc-icon:torsos-male-female;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-torsos {-qsc-icon:torsos;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-trash {-qsc-icon:trash;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-trees {-qsc-icon:trees;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-trophy {-qsc-icon:trophy;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-underline {-qsc-icon:underline;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-universal-access {-qsc-icon:universal-access;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-unlink {-qsc-icon:unlink;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-unlock {-qsc-icon:unlock;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-upload-cloud {-qsc-icon:upload-cloud;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-upload {-qsc-icon:upload;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-usb {-qsc-icon:usb;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-video {-qsc-icon:video;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-volume-none {-qsc-icon:volume-none;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-volume-strike {-qsc-icon:volume-strike;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-volume {-qsc-icon:volume;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-web {-qsc-icon:web;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-wheelchair {-qsc-icon:wheelchair;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-widget {-qsc-icon:widget;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-wrench {-qsc-icon:wrench;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-x-circle {-qsc-icon:x-circle;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-x {-qsc-icon:x;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-yen {-qsc-icon:yen;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-zoom-in {-qsc-icon:zoom-in;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 .icon-zoom-out {-qsc-icon:zoom-out;
-qsc-icon-font:foundation;
-qsc-icon-color:var(--icon-color);
-qsc-icon-align:var(--icon-align);
}
 